h1 {
    text-align: center;
    color:#000000;
    
    
        
    

}
#header {
    background-color: rgb(246, 248, 120);
}
.contenedor img{
    margin: auto;
    display: block;
    
}
#comando {
    background-color: aqua

    


}
.alpha img{
    width: 300;
    height: 300;
    margin:auto ;
    display: block; 

}





